html {
  height: 100%;
  margin: 0;
}
h1 {
  color: rgb(138, 61, 189);
  text-align: center;
}
.h2Design {
  color: rgb(106, 13, 13);
}

.displayContent {
  /* border: 2px solid rgb(81, 81, 112); */
  border-radius: 4px;
  padding: 10px;
  /* display: flex; */
  color: rgb(140, 104, 104);
  align-items: left;
  margin-bottom: 10px;
}
.displayLesson {
  display: inline;
}
.ws {
  color: blue;
}
.ws .wEnglish {
  color: green;
  /* display: none; */
}
.ws .black {
  color: black;
  font-weight: 900;
}
.notes {
  color: rgb(223, 98, 26);
}
.text {
  color: black;
}
.subchapter {
  text-decoration: underline;
  font-weight: bolder;
  color: green;
}
.exerciseInput {
  margin: 5px;
  width: 70px;
  color: red;
}
.exerciseInput::placeholder {
  color: red;
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  font-style: italic;
  padding: 5px;
}
.cultural {
  color: rgb(224, 22, 147);
}
table {
  border: 2px solid rgb(197, 192, 192);
}
#vocabularyTable {
  width: 100%;
  border-collapse: collapse;
}

#vocabularyTable th,
#vocabularyTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

#vocabularyTable th {
  background-color: #f4f4f4;
  text-align: left;
}
hr {
  border-bottom: 2px solid blue;
}
hr:not(:last-of-type) {
  display: block; /* or your desired display style */
}
hr:last-of-type {
  display: none;
}
